﻿@model DataQAudit.user

@{ 
    ViewBag.Title = "save";
}

<h2>create or update</h2>

@using (Html.BeginForm("save", "admin", FormMethod.Post, new { role = "form" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <div class="form-group">
        @if (Model!=null) {
            @Html.HiddenFor(a=>a.id)
        }
        @Html.LabelFor(a=>a.userId)
        @Html.TextBoxFor(a=>a.userId,new { @class="form-control"})
        @Html.ValidationMessageFor(a=>a.userId)
     </div>
     <div class="form-group">
         @Html.LabelFor(a=>a.pwd)
         @Html.TextBoxFor(a=>a.pwd,new { @class="form-control"})
         @Html.ValidationMessageFor(a=>a.pwd)
     </div>
     <div class="form-group">
         @Html.LabelFor(a=>a.emailId)
         @Html.TextBoxFor(a=>a.emailId,new { @class="form-control"})
         @Html.ValidationMessageFor(a=>a.emailId)
     </div>
     <div class="form-group">
         @Html.LabelFor(a=>a.companyId)
         @Html.TextBoxFor(a=>a.companyId,new { @class="form-control"})
         @Html.ValidationMessageFor(a=>a.companyId)
     </div>
     <button type="submit" class="btn btn-default">Submit</button>
     @Html.ActionLink("back","admin",null, new { @style="padding-left:50px;font-weight:bold;"})
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}