﻿@model DataQAudit.user


@{
    ViewBag.Title = "home";
    Layout = "~/Views/Client/clients.cshtml";
    var message = TempData["msg"] ?? string.Empty;
}
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />


<script type="text/javascript">
    var message = '@message';
    if(message)
        alert(message);  
</script>


<div id="wrapper" >

        <div class="col-lg-2" style="background-color:#f8f8f8;border-right: 1px solid #e7e7e7;height: 612px"><!--617px-->
            </br>    <!-- Navigation -->
           
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <!-- /.navbar-top-links -->
           
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">    
                                      
                        <ul class="nav" id="side-menu">

                            @using (Ajax.BeginForm("date", "Client", null, new AjaxOptions() { HttpMethod = "POST" }))
                             {
                                @Html.Raw(ViewBag.Error)
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary()
                         <!--   <li class="sidebar-searchg">-->
                                <div class="custom-search-form " style="margin-right: 10%">
                                    <input type="text" class="form-control" dateformat="d M y" id="datepicker-1" name="ReleaseDate"  placeholder="Date...">
                                    
                                </div>
                             
                                <!--</li> -->
                             }      
                             

                           
                            <li>
                                @Html.ActionLink("Dashboard", "about", "Client")
                            </li>
                            <li>
                                <a href="#" id="report2" onclick="openMenu(event, 'menu2')">Audit Run Inspection</a>
                            </li>
                            
                        </ul>           
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>
        </div>
   


    <div id="page-wrapper">
        <div class="col-md-10">
            <!--  <div id="body">
                  <ul id="contacts"></ul>
              </div>-->
            <div class="col-md-12" id="gauges_chart">
                <table style="width:100%; ">
                    <tr>
                        <td id="rundate_div1" colspan="3"></td>
                    </tr>
                    <tr>
                        <td id="chart_div" class="col-md-6"></td>
                        <td id="chart_div2" class="col-md-8"></td>
                        <td id="chart_div3" class="col-md-12"></td>
                    </tr>
                    <tr style="font-weight: bold;font-size: 93%;">
                        <td class="col-md-6">% of Tables having Defects</td>
                        <td class="col-md-8">% of Rows having Defects</td>
                        <td class="col-md-12">% of Data having Defects</td>
                    </tr>
                </table>

            </div>
            <br /><br /><br />

            <div id="curve_chart" class="col-md-10" style="width: 100%; height: 341px; "></div><!--345-->

            <div id="menu2" class="tabcontent col-md-12" style="margin-top: 0.6%;">

                <div id="tabs" style="background-color:white;border:none">
                    <ul style="background-color: white;border:none;" class="panel panel-default">
                        <li style="border-bottom-width: 1px;"><a href="#tabs-1" class="active" style="background-color:#fdeeeb;border: none;" id="fail">Failed</a></li>
                        <li style="border-bottom-width: 1px;"><a href="#tabs-2" id="pass" style="border:none;background-color:#edffe9;">Passed</a></li>
                        <li style="margin-left: 28%;margin-top: 1%;  font-size: smaller; color: #395870;">Audit Run Inspection</li>
                    </ul>
                    <div id="tabs-1" style="height: 272px;">
                        <div id="update_fail"> </div>
                    </div>
                    <div id="tabs-2" style="height: 272px;">
                        <div id="update_pass"> </div>
                    </div>
                </div><!--panel body-->
                <div id="snackbar">Some text some message..</div>    
            </div>

            <table>
                <tr>
                    <td>
                        <div id="menu3" class="tabcontent col-md-12" style="margin-top: -5%;">
                            <div id="update_stats"></div>
                        </div>
                    </td>                  

                </tr>
                <tr>
                    <td>
                        <div id="menuloader" class="tabcontent col-md-12">
                            <canvas id="my_canvas2" width="1000" height="540"></canvas>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="menu4" class="tabcontent col-md-12"> 
                                <div id="defect_details_Filters"></div>                         
                            <div id="defect_details" ></div>
                        
                            <a href="#" id="resetDataTable" class="col-md-4" style="float: right">Reset</a>
                        </div>
                    </td>
     
                  </tr>
             </table>
    </div>

             

<div id="id02" class="modal" >                      
    <form class="modal-content animate">
        <div id="update_tables"></div>
    </form> 
</div>
               

                    </div><!--page-wrapper-->
                </div><!--wrapper-->
         
<script src="~/Scripts/charts.loader.js"></script>
<script src="~/Scripts/DasBorad.js"></script>
<script src="~/Scripts/jQuery.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>

















