﻿.login {
margin-left: 76%;/*70,64*/
    margin-top: -12%;
   border: 1px solid red;
    width: 20%;/*70*/
    float: left;
    height: 669px;
    min-height: 116% !important;
    background: #fff;
    padding: 5%;
}
.image {
    width: 889px;
    height: 636px;
    margin-left: 3%;
    
    margin-top: -2%;
    margin-bottom: -37%;
    padding: 2%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    color:black;
}



/*---------------------------------------------this is in client view for side bar and menu-top bar --------------------- */
/*bootstrap.min.css*/

li a, .dropbtn {
    display: inline-block;
    color: #337ab7;/*white*/
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
   
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
    margin-top:-5%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #9ec1e7}

.dropdown:hover .dropdown-content {
    display: block;
}
/*---------------------------------------------this is in client view for side bar and menu-top bar --------------------- */


/* this is in excelView.cshtml */
.excelView {    
    margin-top: 1%;
}

/* this is fro tables in admin.cshtml */
body 
{
    font-size: 1.5em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

.PGrid 
{
    margin:2%;
    border-collapse:collapse;
    width:95%;
}
.Header 
{
    font-weight:bold;
    background-color:orange;
    color:#ff6a00;
    text-decoration:none;
}
.PGrid th, .PGrid td
{
    border:1px solid #0094ff;
    padding:5px;

}
.altRow {
    color:brown;
    background-color:#808080;
}

.td-hover:hover {
height:100px
}



/**************************************************************************************************************************************************88888*/



/* for displaying menus in home-sub pages */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
        text-align: center;
}

/* Float the list items side by side */
ul.tab li {float: none;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color:maroon;}


/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
   /* border: 1px solid #ccc;*/
    position: relative;
    
 
}
/*  effects  */
.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}



/*-------------------------------------------------------------------------------------progress bar----------------------------------------------------------------------------------*/

  
    #myProgress {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #ddd;
}

#myBar {
  position: absolute;
  width: 1%;
  height: 100%;
  background-color: #4CAF50;
  
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

 /*--------------------------------------------------------------------table to showing Audit Run Inspection Menu---------------------------------------------------------*/ 
    table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
   
}

thead {
  background: #395870;
  color: #fff;
  border:1px solid #ccc;
   text-transform: uppercase;
 font-size:80%;
}
th{
    border: none;
    text-align: center;
    padding: 8px;
}
td {
    border: none;
    text-align: left;
    padding: 8px;
}
.rowTable:nth-child(odd){
    background-color: white;
     text-align: center;
    
}
.rowTable:nth-child(even){
    background-color: #f2f2f2;
     text-align: center;
    
}
.columnStyle:first-child {
  border-left: 1px solid #cecfd5;
}

.columnStyle {
      border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
   text-align: center;
    font-size: 75%;
}



  
    .loading {
      float: left;
      position: absolute;
      margin-left: 40%;
       margin-top:17%;
      width: 200px;
      top: 100px;
      padding: 3px;
      text-align: center;
    }
    span.current {
      cursor: auto !important;
      background-color: #6E6E6E !important;
      color: #ffffff;
      font-weight: bold;
      padding: 1px 6px;/*padding: 5px 10px;*/
      border: 1px solid #000000;
      margin-right: 4px;
    }
    td.footerContent span a{
      display: inline-block;
      padding: 0px 6px;/*padding: 3px 10px;*/
      background-color: #f3f3f3;
      margin-right: 4px;
      border: 1px solid #998787;
      cursor: pointer;
    }
        td.footerContent span a {
            text-decoration:none;
        }
    td.footerContent{
 
     text-align:right;
    }





/*-----------------------------------------------------------------------------------close Audit Run Inspection---------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------- Full-width input fields   Onclick of details from Audit Run Inspection table-------------------------------------------------------------------------------------------------*/


/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}






.modal-container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
   /* z-index: 1;  Sit on top */
    left: 0;
    top: 0;
    width: 116%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0);  
   background-color: rgba(0,0,0,0.4);  
   /* padding-top: 60px;*/
   margin-top: 4%; 
  margin-left: -12%;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    /*width: 68%; 80% Could be more or less, depending on screen size */
    margin-top: 14%;
    margin-left: 10%;
   
   
        height:auto;/*86%*/
}



/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
/*-------------------------------------------------------------------------------------close Model pop-up for details from Audit Run Inspection--------------------------------------------------------------------------------------------------*/
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
/*---------------------------------------------------------------------------------------------------------------------------------------*/