﻿@model DataQAudit.user

@{
    Layout = null;
    ViewBag.Title = "password";
    var message = TempData["AlertMessage"] ?? string.Empty;
}
<script type="text/javascript">
    var message = '@message';
    if(message)
        alert(message);
</script>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="container body-content" style="margin-top: -9%;padding: 10%; margin-left: -16%;">
        @using (Html.BeginForm("providePwd", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()    //to prevent CSRF or XSS attack
            @Html.ValidationSummary(true)
        
            <div  style="margin-left: 67%;height: 0%;">
                <form class="form-horizontal">
                    <h3 style="margin-left: 10%">Please verify your id</h3>
                    <fieldset style="margin-top:-5%">
                        <div class="form-group">
                            <div class="col-lg-10">
                                <div>@Html.TextBoxFor(a => a.userId, new { @class = "form-control" })</div>
                                <div>@Html.ValidationMessageFor(a => a.userId)</div>
                                <label for="inputUserId" class="control-label">LOGIN ID</label>
                            </div>
                        </div>
                        <div style="display:none">
                            <div class="col-lg-10">
                                <div>@Html.PasswordFor(a => a.pwd, new { @class = "form-control" })</div>
                            </div>
                        </div>
                        <table>
                            <tr style="display:none">
                                <td>@Html.LabelFor(a => a.emailId)</td>
                            </tr>

                            <tr style="display:none">
                                <td>@Html.LabelFor(a => a.companyId)</td>                              
                            </tr>
                        </table>
                        <div class="form-group">
                            <div class="col-lg-10">
                                <div>@Html.TextBoxFor(a => a.domain.domain1, new { @class = "form-control" })</div>
                                <div>@Html.ValidationMessageFor(a => a.domain.domain1)</div>
                                <label for="inputUserId" class="control-label">DOMAIN</label>
                            </div>
                        </div>
                        <div style="display:none">
                            <div class="col-lg-10">
                                <div>
                                    <input name="filename" class="form-control" type="file" />
                                </div>
                                <div>@Html.ValidationMessageFor(a => a.domain.publicKey)</div>
                                <label for="inputPassword" class="control-label">UPLOAD DOMAIN KEY</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-10">
                                <input type="submit" value="Validate" class="btn btn-primary col-lg-10 form-control" />
                            </div>
                        </div>
                        <div class="form-group text-center" style="margin-right:-14%;font-size: x-large;">
                            @Html.ActionLink("back", "login", "Home")
                        </div>
                    </fieldset>
                </form>
            </div>
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

    </div>


    @Scripts.Render("~/bundles/bootstrap")
    <footer style="color:black;margin-top: 24%">
        <p>&copy; @DateTime.Now.Year - SwaBz System Inc</p>
    </footer>
</body>

</html>
